

   body {
    height: 5000px;
   }

  .cart_icon {
    margin-left: 1em;
    
  }
  .cart_icon:hover{
    border-bottom: 3px solid hsl(140, 1%, 44%);
    border-top: 3px solid hsl(140, 1%, 44%);
  }